body::before {
  content: "";
  position: fixed;
  top: 0;
  margin: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://i.ytimg.com/vi/O-QtP78yoog/maxresdefault.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}
h1 {color: white;}
body {
  font-family: 'Arial', 'Verdana', sans-serif;
  margin: 100px;
}
button {
    background-color: #5865F2;
    color: #fff; /* Цвет текста кнопки */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Внутренние отступы */
    font-size: 16px; /* Размер текста */
    border-radius: 20px; /* Радиус скругления */
    cursor: pointer; /* Изменяем курсор при наведении */
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
}

button:hover {
    background-color: #4e5bd9; /* Цвет фона при наведении */
}
